*{
    margin:0;
    font-family: Arial;
    border:border-box/*sets that the margin and padding should be calculated within the height and width of element*/
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height:50px;
    width:100px;
}
.logo{
    background-image: url("amazon_logo.png");
    height:100%;
    background-size: cover;
    width:100%;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
.deliver{
    color:#CCCCCC;
    font-size: 0.8rem;
    margin-left:17px;
}
.india{
    color:#FFFFFF;
    margin-left: 5px;
}
.add-icon{
    display: flex;
}
.deliver_to{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2px;
    border:1px solid transparent;
    /*padding-left: 9px;
    padding-right: 9px;*/
    padding: 10px 9px 10px 9px;
}
.deliver_to:hover{
    border:1px solid white;
}
.search_box{
    display:flex;
    height: 40px;
    width:50%;
    align-items: center;
    border-radius: 5px;
    justify-content: space-evenly;
    border:2px solid transparent;
}
.search_box:hover{
    border: 2px solid orange;
}
.search-select{
    width:50px;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
    border: none;
    background-color: #f3f3f3;
    color:#0f1111;
    text-align: center;
}
.search-input{
    width:100%;
    border:none;
    height: 23px;
    padding: 7px 10px 10px 0px;
    font-size: 1rem;
}
.search_icon{
    width:45px;
    height:100%;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    color: #0f1111;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
}
.language{
    height:50px;
    width:75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lang-logo{
    margin-right:3px;
    color: red;
}
.lan-opt{
    margin-left: 2px;
    background-color: none;

}
.sign1{
    color:#FFFFFF;
    font-size: 12px;
    margin-top: 9px;
}
.sign-in{
    height:40px;
    width:110px;
    padding: 0px 9px 10px 9px;    
}
.sign-acc{
    color:#828181;
    font-size: 14px;
    width:120px;
    font-weight: 600;
    font-size: 0.8rem;
}

.return{
    height:40px;
    width: 60px;
    padding:0px 9px 10px 9px;
    color:#d6d6d6;
    font-size:14px;
}
.return1{
    color:#FFFFFF;
    font-size:12px;
    margin-top: 9px;
}
.return2{
    color:#FFFFFF;
    font-weight: 700;
}
.cart{
    color:white;
    height:40px;
    width:40px;
    font-size: 1.6rem;
    padding:5px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.cart-text{
    color:#FFFFFF;
    font-size: 14px;
    padding-top: 10px;
    font-weight: 700;
}
.panel{
    background-color: #222f3d;
    display:flex;
    height:40px;
    color:#FFFFFF;
    align-items: center;
    padding:0px 11px 0px 11px;
    font-size: 14px;
}
.panel-second p{
    display: inline;
    margin: 5px 0px 6px 0px;
    padding: 8px 9px 8px 9px;
    font-weight: 500;
}
.panel-all{
    display:flex;
    padding:8px 9px 8px 9px;
}
.panel-all i{
    font-size: 1.2rem;
    font-weight: 550;
    padding-right: 5px;
}
.panel-all p{
    padding-top: 2px;
    font-weight: 700;
}
.hero-section{
    background-image: url("hero_image.jpg");
    height:250px;
    background-size: cover;
}

.shop{
    background-color: #e2e7e6;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    
}
.box{
    height:300px;
    background-color: #FFFFFF;
    /*border: 2px solid black;*/
    margin: 15px 15px 15px 15px;
    width:20%;
    padding: 20px 20px 15px 20px;
}
.box1-img{
    height:75%;
    background-size: cover;
    background-color: pink;
}
.box1 h2{
    font-size: 21px;
    margin-bottom: 15px;
}
.box1 p{
    color: #007185;
    font-size: 13px;
    padding:18px 0px 18px 0px;
}
.box2-line1{
    display: flex;
    height: 33%;
}
.box2-img1{
    height:100%;
    width:45%;
    background-size: cover;
    background-color: pink;
    margin-right: 7px;
}
.box2-img2{
    height:100%;
    width:45%;
    background-size: cover;
    background-color: pink;
    margin-left: 7px;
}
.box2-line2{
    display: flex;
    height: 33%;
    margin-top:10px;
}
.box2-img3{
    height:100%;
    width:45%;
    background-size: cover;
    background-color: pink;
    margin-right: 7px;
}
.box2-img4{
    height:100%;
    width:45%;
    background-size: cover;
    background-color: pink;
    margin-left: 7px;
}
.box2 p{
    font-size: 12px;

}
.box2 h2{
    font-size: 21px;
    margin-bottom: 15px;
}
.seemore-b2{
    color: #007185;
    font-size: 13px;
    padding:10px 0px 18px 0px;
}
.box2-line1-txt {
    display:flex;
}
.box2-line2-txt {
    display:flex;
}
.box2-line1-txt1{
    margin:0px 45px 0px 0px;
}
.box2-line1-txt2{
    margin:0px 0px 0px 50px;
}
.box2-line2-txt1{
    margin:0px 45px 0px 0px;
}
.box2-line2-txt2{
    margin:0px 0px 0px 45px;
}
.footer-panel{
    display: flex;
    justify-content: center;
    height:50px;
    align-items: center;
    background-color: #37475a;
    color:#FFFFFF;
    font-size: 13px;
    
}
.footbar{
    background-color: #232f3e;
    height: 300px;
    color:#FFFFFF;
    display: flex;
    justify-content: space-evenly;
    
}
.footbar p{
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
}
.footbar a{
    font-size:14px;
    display: block;
    margin-top:8px
}
.footbar ul{
    padding: 0px 10px 0px 10px;
}
.foot-panel3{
    background-color: #232f3e;
    height:50px;
    display: flex;
    justify-content: center;
}
.footlogo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100px;
    
}
